*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #fafafa;

}
.app{
    display: grid;
    grid-template-columns: 0.165fr 1fr;
}
.navigationRoutes{
    height: 100vh;
    overflow-y: auto;
}
@media screen and (max-width: 600px) {
    .app{
        grid-template-columns: 1fr
    }
    .navigationRoutes{
        height: 93vh; 
    }
    .sm-h{
        height: 100vh !important;
    }
    .Toastify__toast-container {
        width: 200px !important;
        left: 25% !important;
        top: 20px !important;
    }
}